.pagination-main-container{
    width: fit-content;
    margin: 10px auto 50px;
}

.pagination-main-container > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    align-items: center;
    overflow: hidden;
}

.pagination-main-container > ul > li{
    padding: 9px 15px;
    font-weight: 500;
    color: #444;
}

.pageNo{
    font-size: 13px;
}

.pageNo:hover{
    cursor: pointer;
}

.prevBtn, .nextBtn{
    font-size: 18px;
}

.prevBtn:hover, .nextBtn:hover{
    background-color: #bdbdbdb2;
    cursor: pointer;
}

.selectedPage{
    color: white !important;
    background-color: #f06767;
}