.user-card-main-container{
    background-color: white;
    border-radius: 5px;
    padding: 40px 40px;
}

.single-user-data-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.view-details-btn{
    background-color: #f84f60;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px 18px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.view-details-btn:hover{
    background-color: #df4655;
    cursor: pointer;
}

.user-extended-detail-container{
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
}

.user-more-details-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

@media (width <= 884px){

    .single-user-data-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .view-details-btn{
        margin: 0px;
    }
}

@media (width <= 484px){

    .single-user-data-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}