.homepage-main-container{
    width: 100%;
    /* height: calc(100vh - 50px); */
    padding: 30px 10vw; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media (width <= 884px){
    .homepage-main-container{
        padding: 30px 3vw; 
    }
}